 body {
  font-family: 'Inter',Arial, Helvetica, sans-serif;
}


.board-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  
}



#board {
  /* height: 540px; */
  /* width: 580px; */
  background-color: #D10000;
  border: 10px solid #850000;
  padding: 5px;
  /* display: flex;
  flex-wrap: wrap; */
}

.tile {
  aspect-ratio: 1 / 1;
  /* height: 40px; */
  /* width: calc(100%); */
  margin: 2px;

  /* Circle */
  background-color: white;
  border-radius: 50%;
  border: 5px solid #850000;
}

.blue-piece {
  background-color: blue;
}

.yellow-piece {
  background-color: #FAF452;
}




#myopdracht{  
  display: none;
}

#mygeslaagd {
  display: none;
}

#mywinner{
  display: none;
}

#mywater{
  display: none;
}

#mycold{
  display: none;
}

.hidden {
  display: none;
}




