/* body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  text-align: center;
} */

/* grid */


.board-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  
}


/* grid einde */
#board {
  /* height: 540px; */
  /* width: 580px; */
  background-color: red;
  border: 10px solid darkred;
  padding: 5px;
  /* display: flex;
  flex-wrap: wrap; */
}

.tile {
  aspect-ratio: 1 / 1;
  /* height: 40px; */
  /* width: calc(100%); */
  margin: 2px;

  /* Circle */
  background-color: white;
  border-radius: 50%;
  border: 5px solid darkred;
}

.blue-piece {
  background-color: blue;
}

.yellow-piece {
  background-color: yellow;
}

.temp {
  /* text-align: center; */
}


#myopdracht{  
  display: none;
}

#mygeslaagd {
  display: none;
}

#mywinner{
  display: none;
}

.opdracht-popup{
  background:#e1e1e1;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  width:820px;
  position:absolute;
  padding:30px;
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow:0 0 10px rgba(0, 0, 0, 0.4)
}

.winner{
  background:#e1e1e1;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  width:820px;
  position:absolute;
  padding:30px;
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow:0 0 10px rgba(0, 0, 0, 0.4)
}

.c-btn-opdracht{
  background-color: #D10000;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.hidden {
  display: none;
}

@media (min-width:414px) {}

